# ignore files for linux kernel module development
*.o
*.ko

*.tmp_versions 
*.cmd

*.mod.c 
*.mod.o 

*.order

*.symvers 
# ignore files for eclipse project
.cproject
.project
.settings/
.tmp_versions/
