# ignore files for linux kernel module development
*.ko

*.tmp_versions 
*.cmd

*.mod.c 
*.mod.o 

*.order

*.symvers 
# ignore files for eclipse project
.cproject
.project
.settings/
.tmp_versions/
# Object files

*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
