# ignore files for linux kernel module development
*.o
*.ko
*.mod.c 
*.mod.o 
Modele.symvers 
modules.order 
*.tmp_versions 
*.cmd
# ignore files for eclipse project
.cproject
.project
.settings/
.tmp_versions/
